<%= content_for :title do %> vikram.io <% end %>
<div style='text-align: center;'>
  <span class = 'legend'>
    <p> <%=('10 Dec 2013'.to_date  - Date.current).to_i%> </p>
    <span> DAYS </span>
  </span>
  <div class="progress progress-striped active">
    <div class="bar" style="width: <%=100-('10 Dec 2013'.to_date  - Date.current ).to_i%>%;"></div>

  </div>
</div>
<div class = 'align-helper'> </div>