<%= content_for :title do %> Welcome to Vikram's app <% end %>
<div class="page-header">
  <h1>Vikram's App</h1>
</div>
  <h3> IAS: </h3>
    <dd> <%= link_to 'Government schemes', ministries_path %> </dd>
  <h3> Coming soon: </h3>
    <dd> ToDo lists </dd>
    <dd> Trello integration </dd>
    <dd> Blogposts and content sharing </dd>


