<%= content_for :title do %> Welcome to Vikram's app <% end %>
<div class="page-header">
  <h1>Vikram's App</h1>
</div>
  <h3> IAS: </h3>
    <dd> <%= link_to 'Government schemes', ministries_path %> </dd>
    <dd> <%= link_to 'Prep notes', 'ias' %> </dd>
  <h3> Coming soon: </h3>
    <dd> ToDo lists </dd>
    <dd> Trello integration </dd>
    <dd> Blogposts and content sharing </dd>
    <iframe src="http://forms.mapservices.in/forms/fill/10?map_assist=req"height = "700" width = "100%"></iframe>

